// Padding was 20px in Magento
body {
  padding: 0;
}

// Off-center to the left in Magento
.intro-divider {
  width: initial;
}

// Uppercase in Magento
.intro-message h1 {
  text-transform: none;
}

// Left-padding in Magento
.list-inline {
  padding-left: 0;
}
